@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Summary marker removal for FAQ */
details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  display: none;
}
